.NavBar {
    background-color: #ffffff;
    border: 1px solid #dadadf;
}
  
.NavLink {
    padding: 5px;
}

.Active i {
    color: #2142b2;
}
/* Active" ist ein Stil, den wir auf den Link anwenden möchten,
auf dem sich der Benutzer gerade befindet */